*::-webkit-scrollbar{
    width: 10px;
}
*::-webkit-scrollbar-track{
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
    background: #000000;
}
*::-webkit-scrollbar-thumb{
    background: #6ce947;
    border-radius: 10px;
}
*::-webkit-scrollbar-thumb:hover{
    background: #5ace37;
}
.section_first {
    height: 100vh;
}
.section_first .left_blue_block {
    background: linear-gradient(180deg, #3C11B0 0%, #230C56 100%);
}
.section_first .left_blue_block .top_green_line {
    background-color: #6CE947;
    width: 100%;
    height: 20px;
    border-bottom: 5px solid #D1E7EC;
}
.section_first .left_blue_block .box_inner_content p {
    color: #CBCBCB;
    text-align: center;
    font-size: 17px;
    font-weight: 500;
    font-family: 'Maven Pro', sans-serif;
    margin-top: 30px;
}

.section_first .left_blue_block .box_inner_content h2 {
    font-family: 'Economica', sans-serif;
    font-size: 15px;
    color: #ffffff;
    font-weight: 400;
    margin-bottom: 0;
    margin-top: 10px;
}
.section_first .left_blue_block .box_inner_content h3 {
    font-size: 28px;
    text-align: center;
    font-weight: 400;
    font-family: 'Passion One', sans-serif;
    background: -webkit-linear-gradient(0deg, #4F5BF7, #9A54F7, #D64EF7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.section_first .left_blue_block .box_inner_content .mint_live_btn {
    text-align: center;
    margin-top: 30px;
}
.section_first .left_blue_block .box_inner_content .mint_live_btn button {
    background-color: #F5FD79;
    font-family: 'Passion One', sans-serif;
    font-size: 25px;
    color: #310A97;
    border: none;
    padding: 2px 10px;
}
.section_first .left_blue_block .box_inner_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 35px 50px 30px;
}
.section_first .left_blue_block .box_inner_content .powered_by {
    color: #ffffff;
    font-family: 'Economica', sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0;
    margin-right: 10px;
    /* margin-top: 36px; */
}
.section_first .left_blue_block .bottom_fixed_bar .powered_by {
    color: #ffffff;
    font-family: 'Economica', sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0;
    margin-right: 10px;
    /* margin-top: 36px; */
}
.section_first .left_blue_block .box_inner_content img.logo {
    width: 40%;
}
.section_first .right_slide_block {
    background-color: #e3e3e3;
    overflow: hidden;
}
.section_first .right_slide_block .right_inner_content .slide_header .wallet_connect {
    text-align: right;
}
.section_first .right_slide_block .right_inner_content .slide_header {
    border-bottom: 8px solid #6ce947;
    padding: 0 0 10px;
}
/* .section_first .right_slide_block .right_inner_content {
    padding: 25px 35px 40px 35px;
} */
.section_first .right_slide_block .right_inner_content .slide_header .wallet_code h5 {
    font-family: 'Rajdhani', sans-serif;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0;
}
.section_first .right_slide_block .right_inner_content .slide_header .wallet_code p {
    color: #E596FF;
    font-size: 24px;
    font-weight: 300;
    width: 58%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.section_first .right_slide_block .right_inner_content .slide_header .wallet_connect .meta_wallet img.meta_img {
    margin-right: 10px;
}
.section_first .right_slide_block .right_inner_content .slide_header .wallet_connect .connect_text p {
    font-family: 'Rajdhani', sans-serif;
    font-size: 15px;
    color: #ffffff;
    font-weight: 600;
    margin-top: 2px;
    margin-bottom: 0;
}
.section_first .right_slide_block .right_inner_content .slide_header .wallet_connect .connect_text span.connect_dot {
    background: -webkit-linear-gradient(0deg, #4F5BF7, #9A54F7, #D64EF7);
    width: 10px;
    height: 10px;
    display: block;
    border-radius: 50%;
    margin-left: auto;
    margin-right: 7px;
}
.section_first .right_slide_block .right_inner_content .slide_header .wallet_connect .connect_text {
    display: flex;
    align-items: center;
}
.cart_slider .carousel-inner .slider_inner_box .box {
    text-align: center;
    margin-bottom: 30px;
}
.cart_slider .carousel-inner .slider_inner_box .box .box_img_btn {
    display: inline-flex;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}
.cart_slider .carousel-inner .slider_inner_box .box .box_img_btn .btn_overlay {
    position: absolute;
    top: 0;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: #fcfcfc69;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}
.cart_slider .carousel-inner .slider_inner_box .box .box_img_btn:hover .btn_overlay {
    opacity: 1;
    cursor: pointer;
}
.cart_slider .carousel-inner .slider_inner_box .box .box_img_btn .btn_overlay > button {
    background: -webkit-linear-gradient(0deg, #4F5BF7, #9A54F7, #D64EF7);
    font-family: 'Rajdhani', sans-serif;
    border: none;
    font-size: 20px;
    line-height: 16px;
    color: #ffffff;
    font-weight: 600;
    padding: 6px 10px 6px;
    border-radius: 5px;
}
.cart_slider .carousel-inner .slider_inner_box .box .nft_ticket_title p {
    font-family: 'Rajdhani', sans-serif;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
}
.cart_slider .carousel-inner .slider_inner .slider_heading p {
    font-family: 'Rajdhani', sans-serif;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    margin-top: 12px;
}
.cart_slider .carousel-inner .slider_inner .slider_inner_box {
    background: -webkit-linear-gradient( #3C11B0, #230C56);
    border: 3px solid #FFFFFF;
    border-radius: 13.3321px;
    padding: 50px 0 5px;
}
.cart_slider .carousel-indicators {
    justify-content: flex-end;
    margin-right: 10px;
    bottom: -10px;
    left: auto;
    width: 50%;
}
.slider_bottom_section .nft_connect_btn button {
    display: flex;
    align-items: center;
}

.slider_bottom_section .nft_connect_btn button {
    display: flex;
    align-items: center;
    background-color: transparent;
    font-family: 'Rajdhani', sans-serif;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    border: 1px solid;
    padding: 10px 15px;
    /* border-radius: 10px; */
    margin-top: 40px;
    border-image-source: linear-gradient(90deg, #4F5BF7, #9A54F7, #D64EF7);
    border-image-slice: 1;
}
.slider_bottom_section .nft_connect_btn button img {
    margin-right: 10px;
}
.cart_slider .carousel-indicators button {
    width: 16px;
    height: 16px;
    border: 1px solid #ffffff;
    /* background-color: #6CE947; */
    background-color: transparent;
    position: relative;
    padding: 1px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cart_slider .carousel-indicators button.active::after{
    content: '';
    position: absolute;
    background-color: #6CE947;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    top: auto;
    left: auto;
}
.slider_bottom_section .nft_connect_btn button:hover {
    background: linear-gradient(90deg, #4F5BF7, #9A54F7, #D64EF7);
}
.section_first .right_slide_block .right_inner_content .cart_slider a.carousel-control-prev,
.section_first .right_slide_block .right_inner_content .cart_slider a.carousel-control-next {
    display: none;
}
.cart_slider .carousel-inner .slider_inner_box .box .nft_token_title {
    width: 168px;
    margin: 0 auto 0 auto;
}
.cart_slider .carousel-inner .slider_inner_box .box .nft_token_title p > span {
    overflow: hidden;
    width: 54%;
    display: block;
    text-overflow: ellipsis;
    font-weight: 100;
    text-align: left;
}
.cart_slider .carousel-inner .slider_inner_box .box .nft_token_title p {
    display: flex;
}
.cart_slider .carousel-inner .slider_inner_box .box .nft_token_title p:first-child {
    margin-bottom: 0;
}
.cart_slider .carousel-inner .slider_inner_box .box .nft_token_title p:last-child {
    margin-top: 0;
}
.cart_slider .carousel-inner .slider_inner .slider_inner_box.slider_token_inner_box {
    background: transparent;
    border: none;
    max-height: calc(100vh - 50px);
    overflow: auto;
}
.cart_slider .carousel-inner .slider_inner .slider_blog_inner_box {
    background: transparent;
    border: none;
}
.slider_blog_inner_box .nfc_img_box p.inner_count_box {
    font-family: 'Rajdhani', sans-serif;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
}
.slider_blog_inner_box .nfc_img_box .inner_img img {
    width: 100%;
}
.slider_blog_inner_box .nfc_img_box .ragister_btn .nft_connect_btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}
.slider_blog_inner_box .nfc_img_box .ragister_btn .nft_connect_btn button {
    margin-top: 0;
}
.slider_blog_inner_box .nfc_img_box .ragister_btn .nft_connect_btn span.btn_right_text {
    font-family: 'Rajdhani', sans-serif;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0.06em;
}
.slider_blog_inner_box .nfc_contant_box p.inner_cost_text {
    font-family: 'Rajdhani', sans-serif;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    text-align: right;
}
.slider_blog_inner_box .nfc_contant_box .inner_nfc_para p {
    font-family: 'Maven Pro', sans-serif;
    font-size: 20px;
    color: #CBCBCB;
    margin-bottom: 20px;
}
.cart_slider .carousel-inner .slider_inner .slider_blog_inner_box .nft_blog_bottom_text p {
    font-family: 'Maven Pro', sans-serif;
    font-size: 14px;
    color: #ffffff;
    margin-bottom: 6px;
}
.cart_slider .carousel-inner .slider_inner .slider_blog_inner_box .nft_blog_bottom_text p.blue_text {
    color: #6ce947;
}
.cart_slider .carousel-inner .slider_inner .slider_blog_inner_box .nft_blog_bottom_text {
    margin-top: 35px;
    width: 80%;
}
.bottom_fixed_bar {
    background: linear-gradient(180deg, #3C11B0 0%, #230C56 100%);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0 15px;
}
.section_first .left_blue_block .connect_address {
    padding: 15px 50px 15px;
    background-color: #EBEBEB;
    border-top: 8px solid #6ce947;
}
.section_first .left_blue_block .connect_address p.connect_text {
    font-size: 18px;
    font-family: 'Economica';
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 0px;
}
.section_first .left_blue_block .connect_address p.address_text {
    width: 130px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: 'Economica';
    font-weight: 600;
    margin-bottom: 0px;
    font-size: 18px;
    background: linear-gradient(90deg, #4F5BF7 13.42%, #9A54F7 39.1%, #D64EF7 77.16%), #E596FF;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.right_slide_block .slider_inner .slider_inner_box .ticket_subtitle p {
    text-align: center;
    color: #0C0C0C;
    font-size: 20px;
    padding-top: 30px;
    margin-bottom: 30px;
    font-weight: 600;
}
.right_slide_block .slider_inner .slider_inner_box .box {
    background-color: #ffffff;
    border-radius: 12px;
    padding: 20px 25px 30px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}
.right_slide_block .slider_inner .slider_inner_box .box .box_img_btn > p {
    font-size: 21px;
    font-family: Maven Pro;
    font-weight: 600;
    text-align: center;
    background: linear-gradient(90deg, #4F5BF7 13.42%, #9A54F7 39.1%, #D64EF7 77.16%), #0C0C0C;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.right_slide_block .slider_inner .slider_inner_box .box .box_img_btn > img {
    width: 100%;
}
.right_slide_block .slider_inner .slider_inner_box .box .box_img_btn > .btn_overlay button {
    width: 95%;
    border: 2px solid #9a54f7;
    margin-top: 15px;
    border-radius: 6px;
    background: transparent;
    padding: 10px 5px 10px;
    font-family: 'Economica';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.right_slide_block .slider_inner .slider_inner_box .box .box_img_btn > .btn_overlay button img {
    margin-right: 10px;
}
.green_overlay_barcode {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    background: rgb(121 231 88 / 70%);
    flex-direction: column;
    z-index: 10;
}
.red_overlay_barcode{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    background: #f70a0a80;
    flex-direction: column;
    z-index: 10;
}
.green_overlay_barcode p.barcode_title {
    margin-bottom: 71px;
    text-shadow: none;
    font-style: normal;
    font-weight: 300;
    text-align: center;
    font-size: 26px;
    width: 30%;
    line-height: 29px;
    background: linear-gradient(90deg, #4F5BF7 13.42%, #9A54F7 39.1%, #D64EF7 77.16%), #0C0C0C;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.red_overlay_barcode p.barcode_title {
    margin-bottom: 71px;
    text-shadow: none;
    font-style: normal;
    font-weight: 300;
    text-align: center;
    font-size: 26px;
    width: 30%;
    line-height: 29px;
    color: #ffffff;
}
.red_overlay_barcode button {
    border: 2px solid #9A54F7;
    padding: 20px 20px;
    font-family: 'Economica';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 25px;
    display: flex;
    align-items: center;
    border-radius: 10px;
}
.red_overlay_barcode button img {
    margin-right: 10px;
}
.back_blurr {
    backdrop-filter: blur(1px);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 1;
}
.green_overlay_barcode .cross_icon {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 40px;
    height: 40px;
}
.green_overlay_barcode .cross_icon img {
    width: 100%;
}
.red_overlay_barcode .cross_icon {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 40px;
    height: 40px;
}
.red_overlay_barcode .cross_icon img {
    width: 100%;
}
@media screen and (max-width:1024px) {
    .green_overlay_barcode .cross_icon {
        right: 55px;
        top: 55px;
    }
    /* .section_first .left_blue_block .box_inner_content {
    text-align: center;
    padding-bottom: 45px;
} */
    .cart_slider .carousel-inner .slider_inner .slider_inner_box.slider_token_inner_box {
        background: transparent;
        border: none;
        max-height: calc(100vh - 850px);
        overflow: auto;
    }
    .cart_slider .carousel-inner .slider_inner .slider_inner_box {
        max-height: calc(100vh - 850px);
        overflow: auto;
    }
    .cart_slider .carousel-inner .slider_inner .slider_inner_box.slider_blog_inner_box {
        max-height: fit-content;
    }
}
@media screen and (max-width:768px) {
    .cart_slider .carousel-inner .slider_inner .slider_inner_box {
        max-height: calc(100vh - 500px);
        overflow: auto;
    }
    .cart_slider .carousel-inner .slider_inner .slider_inner_box.slider_token_inner_box {
        max-height: calc(100vh - 500px);
        overflow: auto;
    }
    .right_slide_block .slider_inner .slider_inner_box .box {
        width: 95%;
    }
}
@media screen and (max-width:600px) {
    .green_overlay_barcode .cross_icon {
        right: 30px;
        top: 30px;
    }
    .right_slide_block .slider_inner .slider_inner_box .box {
        margin-bottom: 40px;
    }
    .red_overlay_barcode p.barcode_title,
    .green_overlay_barcode p.barcode_title {
        width: 90%;
    }
    .section_first .left_blue_block .box_inner_content {
        padding-left: 15px;
        padding-right: 15px;
        border-bottom: 8px solid #6ce947;
        background: linear-gradient(180deg, #3C11B0 0%, #230C56 100%);
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
    }
    .section_first .left_blue_block .connect_address {
        padding: 15px 15px 15px;
        margin-top: 138px;
        border: none;
    }
    /* .section_first .left_blue_block .box_inner_content h2 {
        font-size: 60px;
        line-height: 60px;
        margin-top: 30px;
    } */
    /* .section_first .right_slide_block .right_inner_content {
        padding: 25px 20px 40px 20px;
    } */
    .cart_slider .carousel-inner .slider_inner_box .box .box_img_btn {
        width: 80%;
    }
    .cart_slider .carousel-inner .slider_inner_box .box .box_img_btn img {
        width: 100%;
    }
    .cart_slider .carousel-inner .slider_inner .slider_inner_box {
        max-height: calc(100vh - 260px);
        overflow: auto;
    }
    .cart_slider .carousel-inner .slider_inner .slider_inner_box.slider_token_inner_box {
        max-height: calc(100vh - 260px);
        overflow: auto;
    }
    .cart_slider .carousel-inner .slider_inner_box .box .nft_token_title {
        width: 250px;
        margin: 0 auto 0 auto;
    }
    .cart_slider .carousel-inner .slider_inner_box .box .nft_token_title p > span {
        overflow: hidden;
        width: 70%;
    }
    .slider_blog_inner_box .nfc_contant_box p.inner_cost_text {
        text-align: left;
    }
    .slider_blog_inner_box .nfc_contant_box {
        margin-top: 30px;
    }
    .cart_slider .carousel-inner .slider_inner .slider_blog_inner_box .nft_blog_bottom_text {
        margin-top: 0;
        width: 100%;
    }
    .cart_slider .carousel-indicators {
        justify-content: flex-end;
        margin-right: 0px;
        bottom: -10px;
        left: auto;
        width: 100%;
        margin-left: 0;
    }
}